/venv_darknet/lib/python3.7/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/cli/__init__.py
# Default ignored files
/workspace.xml
*.idea
*.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
../venv_darknet
*.weights
*.jpg
__init__.py
/venv_darknet
*.mov
*.mp4
*.tar
.idea